<div style = "padding-left: 100px;">
    <h1> Update Authors</h1>
    
    <form [formGroup]="authorForm" (ngSubmit)="saveAuthor()">
    <label>Id</label>
    <input type="text" formControlName="id">
    
    <label>Name</label>
    <input type="text" formControlName="name">
    
    <label>Birthdate</label>
    <input type="text" formControlName="birthdate">
    
    <label>Nationality</label>
    <input type="text" formControlName="nationality">
    
    <input type="submit" value="Save">
    </form>
    </div>
    <div>
        <h3> Form status: {{authorForm.valid}}</h3>
    </div>
    