<div style = "padding-left: 100px;">
    <h1> Add Admins</h1>
    
    <form [formGroup]="adminsForm" (ngSubmit)="saveAdmin()">
    <label>Name</label>
    <input type="text" formControlName="name">
    
    <label>Username</label>
    <input type="text" formControlName="username">
    
    <label>Password </label>
    <input type="text" formControlName="password">
    
    <input type="submit" value="Save Admin">
    </form>
    </div>
    <div>
        <h3> Form status: {{adminsForm.valid}}</h3>
    </div>
    