<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
	<link rel="stylesheet" type="text/css" href="admin.component.css">
</head>
<body>
	<div>
		<h1>{{title}}</h1>
		<button  class="button" (click)="addAdmins()"> Add Admin</button>
		<table> 
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Username</th>
				<th>Password</th>
				<th>Actions</th>
			</tr>
			<tr *ngFor="let admin of admins">
				<td>{{admin.id}}</td>
				<td>{{admin.name}}</td>
				<td>{{admin.username}}</td>
				<td>{{admin.password}}</td>
				<td>
					<button (click)="deleteAdmin(admin.id)">Delete</button>
					<button (click)="updateAdmin(admin.id)">Update</button>
				</td>
			</tr>
			
		</table>
	</div>
</body>
</html>
