<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
	<link rel="stylesheet" type="text/css" href="admin.component.css">
</head>
<body>
	<div class="container">
		<button  class="button" (click)="addAdmins()"> Add Admin</button>
		<h1>{{title}}</h1>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Username</th>
				<th>Password</th>
			</tr>
			<tr *ngFor="let admin of admins">
				<td>{{admin.id}}</td>
				<td>{{admin.name}}</td>
				<td>{{admin.username}}</td>
				<td>{{admin.password}}</td>
			</tr>
			
		</table>
		<input type="submit" value="Save Changes">
	</div>
</body>
</html>
