<!DOCTYPE html>
<html>
<head>
	<title>Author Page</title>
	<link rel="stylesheet" type="text/css" href="author.component.css">
</head>
<body>
	<div>
		
		<h1>{{title}}</h1>
		<button  class="button" (click)="addAuthors()"> Add Authors</button>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Birthdate</th>
				<th>Nationality</th>
				<th>Actions</th>
			</tr>
			<tr *ngFor="let author of authors">
				<td>{{author.id}}</td>
				<td>{{author.name}}</td>
				<td>{{author.birthDate}}</td>
				<td>{{author.nationality}}</td>
				<td>
					
					<button (click)="deleteAuthor(author.id)">Delete</button>
					<button (click)="updateAuthor(author.id)">Update</button>
					
					
				</td>
			</tr>
		</table>
	</div>
</body>
</html>