
<!DOCTYPE html>
<html>
<head>
	<title>Author Page</title>
	<link rel="stylesheet" type="text/css" href="author.component.css">
</head>
<body>
	<div class="container">
		<h1>Author Page</h1>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Birthdate</th>
				<th>Nationality</th>
			</tr>
			<tr *ngFor="let author of author">
				<td>{{author.id}}</td>
				<td>{{author.name}}</td>
				<td>{{author.birthDate}}</td>
				<td>{{author.nationality}}</td>
			</tr>
		</table>
		<input type="submit" value="Save Changes">
	</div>
</body>
</html>