<!DOCTYPE html>
<html>
<head>
	<title>Publisher Page</title>
	<link rel="stylesheet" type="text/css" href="publisher.component.css">
</head>
<body>
	<div class="container">
		<h1>Publisher Page</h1>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Address</th>
					<th>Phone</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" name="id"></td>
					<td><input type="text" name="name"></td>
					<td><input type="text" name="address"></td>
					<td><input type="text" name="phone"></td>
					<td><input type="text" name="email"></td>
				</tr>
				<tr>
					<td><input type="text" name="id"></td>
					<td><input type="text" name="name"></td>
					<td><input type="text" name="address"></td>
					<td><input type="text" name="phone"></td>
					<td><input type="text" name="email"></td>
				</tr>
				<tr class="empty-row">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="text" name="id"></td>
					<td><input type="text" name="name"></td>
					<td><input type="text" name="address"></td>
					<td><input type="text" name="phone"></td>
					<td><input type="text" name="email"></td>
				</tr>
				<tr>
					<td><input type="text" name="id"></td>
					<td><input type="text" name="name"></td>
					<td><input type="text" name="address"></td>
					<td><input type="text" name="phone"></td>
					<td><input type="text" name="email"></td>
				</tr>
				<tr class="empty-row">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="Save Changes">
	</div>
</body>
</html>
