<!DOCTYPE html>
<html>
<head>
	<title>Publisher Page</title>
	<link rel="stylesheet" type="text/css" href="publisher.component.css">
</head>
<body>
	<button  class="button" (click)="addPublishers()"> Add Publisher</button>
		<h1>Publisher Page</h1>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Address</th>
					<th>Phone</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let publisher of publishers">
					<td>{{publisher.id}}</td>
					<td>{{publisher.name}}</td>
					<td>{{publisher.address}}</td>
					<td>{{publisher.phone}}</td>
					<td>{{publisher.email}}</td>
					<td>
						<button (click)="deletePublisher(publisher.id)">Delete</button>
					</td>
				</tr>
		
			</tbody>
		</table>
	
</body>
</html>
