<!DOCTYPE html>
<html>
<head>
	<title>Loan Page</title>
	<link rel="stylesheet" type="text/css" href="loan.component.css">
</head>
<body>
	<div>
		<h1>{{title}}</h1>
		<button  class="button" (click)="addLoans()">Add Loan</button>
		<table>
			<tr>
				<th>ID</th>
				<th>Book ID</th>
				<th>Student ID</th>
				<th>Due Date</th>
				<th>Return Date</th>
				<th>Actions</th>
			</tr>
			<tr *ngFor="let loan of loans">
				<td>{{loan.id}}</td>
				<td>{{loan.bookId}}</td>
				<td>{{loan.studentId}}</td>
				<td>{{loan.dueDate}}</td>
				<td>{{loan.returnDate}}</td>
				<td>
					<button (click)="deleteLoan(loan.id)">Delete</button>
					<button (click)="updateLoan(loan.id)">Update</button>
				</td>
			</tr>

		</table>

	</div>
</body>
</html>
