<!DOCTYPE html>
<html>
<head>
	<title>Loan Page</title>
	<link rel="stylesheet" type="text/css" href="loan.component.css">
</head>
<body>
	<div class="container">
		<h1>Loan Page</h1>
		<table>
			<tr>
				<th>ID</th>
				<th>Book ID</th>
				<th>Student ID</th>
				<th>Checkout Date</th>
				<th>Due Date</th>
				<th>Return Date</th>
			</tr>
			<tr>
				<td><input type="text" name="id"></td>
				<td><input type="text" name="bookid"></td>
				<td><input type="text" name="studentid"></td>
				<td><input type="date" name="checkoutdate"></td>
				<td><input type="date" name="duedate"></td>
				<td><input type="date" name="returndate"></td>
			</tr>

		</table>
		<input type="submit" value="Save Changes">
	</div>
</body>
</html>
