<div style = "padding-left: 100px;">
    <h1> Add Students</h1>

    <form [formGroup]="studentsForm" (ngSubmit)="saveStudent()">
    
    <label>Name</label>
    <input type="text" formControlName="name">
    <label>Roll Number</label>
    <input type="text" formControlName="rollNumber">
    <label>Department</label>
    <input type="text" formControlName="department">
    <label>Birth Date </label>
    <input type="text" formControlName="birthDate">
    
    <input type="submit" value="Save Student">
    </form>
    </div>
    <div>
        <h3> Form status: {{studentsForm.valid}}</h3>
    </div>
    