<!DOCTYPE html>
<html>
<head>
	<title>Student Page</title>
	<link rel="stylesheet" type="text/css" href="student.component.css">
</head>
<body>
	<div class="container">
		<button  class="button" (click)="addStudents()"> Add Student</button>
		<h1>{{title}}</h1>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Department</th>
					<th>Roll No</th>
					<th>Birthdate</th>
					<th>Mobile Number</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let student of students">
					<td>{{student.id}}</td>
					<td>{{student.name}}</td>
					<td>{{student.department}}</td>
					<td>{{student.birthDate}}</td>
					<td>{{student.mobileNumber}}</td>
					<td>
						<button (click)="deleteStudent(student.id)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="Save Changes">
	</div>
</body>
</html>