<!DOCTYPE html>
<html>
<head>
	<title>Student Page</title>
	<link rel="stylesheet" type="text/css" href="student.component.css">
</head>
<body>
	<div class="container">
		<h1>Student Page</h1>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Department</th>
					<th>Roll No</th>
					<th>Birthdate</th>
					<th>Mobile Number</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" name="id"></td>
					<td><input type="text" name="name"></td>
					<td><input type="text" name="department"></td>
					<td><input type="text" name="rollno"></td>
					<td><input type="date" name="birthdate"></td>
					<td><input type="tel" name="mobilenumber"></td>
				</tr>
				<tr>
					<td><input type="text" name="id"></td>
					<td><input type="text" name="name"></td>
					<td><input type="text" name="department"></td>
					<td><input type="text" name="rollno"></td>
					<td><input type="date" name="birthdate"></td>
					<td><input type="tel" name="mobilenumber"></td>
				</tr>
				<tr class="empty-row">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="text" name="id"></td>
					<td><input type="text" name="name"></td>
					<td><input type="text" name="department"></td>
					<td><input type="text" name="rollno"></td>
					<td><input type="date" name="birthdate"></td>
					<td><input type="tel" name="mobilenumber"></td>
				</tr>
				<tr>
					<td><input type="text" name="id"></td>
					<td><input type="text" name="name"></td>
					<td><input type="text" name="department"></td>
					<td><input type="text" name="rollno"></td>
					<td><input type="date" name="birthdate"></td>
					<td><input type="tel" name="mobilenumber"></td>
				</tr>
				<tr class="empty-row">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<input type="submit" value="Save Changes">
	</div>
</body>
</html>
