<div style = "padding-left: 100px;">
    <h1> Add Loans</h1>
    <form [formGroup]="loansForm" (ngSubmit)="saveLoan()">
    
    <label>Book id</label>
    <input type="text" formControlName="bookId">
    
    <label>Student Id</label>
    <input type="text" formControlName="studentId">
    
    <label>Due Date </label>
    <input type="text" formControlName="dueDate">

    <label>Return Date </label>
    <input type="text" formControlName="returnDate">
    <input type= "submit" value="Save">
    </form>
    </div>
    <div>
        <h3> Form status: {{loansForm.valid}}</h3>
    </div>
    